table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.btn-add {
    background-color: #4CAF50;
    color: white;
}

.btn-edit {
    background-color: #008CBA;
    color: white;
}

.btn-delete {
    background-color: #f44336;
    color: white;
}

.action-buttons {
    white-space: nowrap; /* Ngăn các phần tử trong ô chuyển dòng */
}

.action-buttons form {
    display: inline; /* Hiển thị form trên cùng một dòng */
}